<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Page Title</title>
</head>
<body>
<!-- <script language="javascript" type="text/javascript" src="/functions.js"></script>
    <script language="javascript">
		/*
      function send_command(cmd) {
        document.getElementById('hints').firstChild.nodeValue = "Send command: " + cmd;
        AJAX_get('/?action=command&command='+ cmd)
      }

      function AJAX_response(text) {
        document.getElementById('hints').firstChild.nodeValue = "Got response: " + text;
      }*/

    </script> -->

<h1>Robot Escape Room</h1>
<h2>60:00</h2>
<p id="demo"></p>
<video width="640" height="480" controls>
	<source src="testVid.mp4" type="video/mp4">
</video>
<h3></h3>
<p1>Hints:</p1>
<script>
document.getElementById("demo").innerHTML = "Hello JavaScript!";

//var gamepads = {};
var haveEvents = 'ongamepadconnected' in window;
var controllers = {};

var axesDirs = [[0,0],[0,0]];
//var camAxisDirs = [0,0];

function connecthandler(e) {
  addgamepad(e.gamepad);
}

function addgamepad(gamepad) {
  controllers[gamepad.index] = gamepad; // adds GamePad gamepad to controllers array, in index of gamepad's index

  var d = document.createElement("div");
  d.setAttribute("id", "controller" + gamepad.index);

  var t = document.createElement("h1");
  t.appendChild(document.createTextNode("gamepad: " + gamepad.id));
  d.appendChild(t);

  var b = document.createElement("div");
  b.className = "buttons";
  for (var i = 0; i < gamepad.buttons.length; i++) {
    var e = document.createElement("span");
    e.className = "button";
    //e.id = "b" + i;
    e.innerHTML = i;
    b.appendChild(e);
  }

  d.appendChild(b);

  var a = document.createElement("div");
  a.className = "axes";

  for (var i = 0; i < gamepad.axes.length; i++) {
    var p = document.createElement("progress");
    p.className = "axis";
    //p.id = "a" + i;
    p.setAttribute("max", "2");
    p.setAttribute("value", "1");
    p.innerHTML = i;
    a.appendChild(p);
  }

  d.appendChild(a);

  // See https://github.com/luser/gamepadtest/blob/master/index.html
  var start = document.getElementById("start");
  if (start) {
    start.style.display = "none";
  }

  document.body.appendChild(d);
  requestAnimationFrame(updateStatus);
}
function disconnecthandler(e) {
  removegamepad(e.gamepad);
}

function removegamepad(gamepad) {
  var d = document.getElementById("controller" + gamepad.index);
  document.body.removeChild(d);
  delete controllers[gamepad.index];
}

function updateStatus() {
  if (!haveEvents) {
    scangamepads();
  }
  
  
  var i = 0;
  var j;
	
	var usingGameController = false;

  for (j in controllers) {
	if(usingGameController && j>0){
		break;
	}else if(j>1){
		break;
	}
	
    var controller = controllers[j];
	
	if(controller.axes.length==4){
		usingGameController = true;
	}
	
	
    var d = document.getElementById("controller" + j);
    var buttons = d.getElementsByClassName("button");


	//buttons
    for (i = 0; i < controller.buttons.length; i++) {
      var b = buttons[i];
      var val = controller.buttons[i];
      var pressed = val == 1.0;
      if (typeof(val) == "object") {
        pressed = val.pressed;
        val = val.value;
      }

      var pct = Math.round(val * 100) + "%";
      b.style.backgroundSize = pct + " " + pct;

      if (pressed) {
        b.className = "button pressed";
      } else {
        b.className = "button";
      }
    }
	
	
	
	var axis0 = 0;
    var axes = d.getElementsByClassName("axis");
	//console.log(controller.axes.length);
    for (i = 0; (i+1) < controller.axes.length; i+=2) {
		if(i>2){
			break;
		}
		if(!usingGameController && i>1){
			break;
		}
		var axesUpdated = false;
		//var movAxesUpdate = false;
		/*if(i>1){
			if(i>3 || j>0){
				break;
			}else{
				usingGameController = true;
			}
		}*/
		
		
		
		var a1 = axes[i];
		a1.innerHTML = i + ": " + controller.axes[i].toFixed(4);
		a1.setAttribute("value", controller.axes[i] + 1);
		var a2 = axes[i+1];
		const i_plus = i+1;
		a2.innerHTML = i_plus + ": " + controller.axes[i+1].toFixed(4);
		a2.setAttribute("value", controller.axes[i+1] + 1);
		/*if(j == 0 && i<2){//movement
			if(controller.axes[i]>0.2){
				if(i == 0){
					axis0 = 1;
				}else if(i==1){
					moveAxis(j, axis0, 1);//forward();
				}
			}else if(controller.axes[i]<-0.2){
				if(i == 0){
					axis0 = -1;
				}else if(i == 1){
					moveAxis(j, axis0, -1);//backward();
				}
			}
			else{
				if(i == 1){
					moveAxis(j, axis0, 0);
				}
			}
			
			
		}if(j==1 || (usingGameController && i>1 && j==0)){
			var axisNum = i;
			if(usingGameController){
				axisNum -= 2;
			}
			
			if(controller.axes[i]>0.2){
				moveAxis(1, axisNum, 1);
			}else if(controller.axes[i]<-0.2){
				moveAxis(1, axisNum, -1);
			}else{
				moveAxis(1, axisNum, 0);
			}
			
			
		}*/
		var axesSetNum = j; //0 is movement, 1 is camera
		if(usingGameController && i>1){
			axesSetNum = 1;
		}
		
		//var axesVals = [];
		var prevVals = axesDirs[axesSetNum];
		var count;
		for(count = 0; count < 2; count++){
			var tempVal;
			if(controller.axes[count+i]>0.5){
				//axesVals[count] = 1;
				tempVal = 1;
			}else if(controller.axes[count+i]<-0.5){
				//axesVals[count] = -1;
				tempVal = -1;
				//console.log("axis negative! AxesSetNum: " + axesSetNum + ", count: " + count + ", tempNum: " + tempVal);
			}
			else{
				
				//axesVals[count] = 0;
				tempVal = 0;
				
			}
			if(/*axesVals[count]*/tempVal != prevVals[count]){
				axesUpdated = true;
				axesDirs[axesSetNum][count] = tempVal;
			}
		}
		
		if(axesUpdated){
			//console.log("axesSetNum: " + axesSetNum + ", axisDirs: " + axesDirs[0][0] + ", " + axesDirs[0][1] + ", " + axesDirs[1][0] + ", " + axesDirs[1][1])
			//axesDirs[axesSetNum][0] = axesVals[0];
			//axesDirs[axesSetNum][1] = axesVals[1];
			
			moveAxis(axesSetNum, axesDirs[axesSetNum][0], axesDirs[axesSetNum][1]);
		}


		//if(j == 0){// && i<2){//movement
			//var contNum = j;
			//var axisNum = i;
			
			
			
			/*if(i>1){
				if(usingGameController){
					axisNum -= 2;
					
					contNum = 1;
				}else{
					break;
				}
			}else if(j==1){
				
			}*/
			
			/*
			if(controller.axes[i]>0.2){
				if(axisNum == 0){
					if(
					axis0 = 1;
				}else if(axisNum==1){
					moveAxis(contNum, axis0, 1);//forward();
				}
			}else if(controller.axes[i]<-0.2){
				if(axisNum == 0){
					axis0 = -1;
				}else if(axisNum == 1){
					moveAxis(contNum, axis0, -1);//backward();
				}
			}
			else{
				if(axisNum == 1){
					moveAxis(contNum, axis0, 0);
				}
			}
			
			
			if(i==1){
				axis0 = 0;
			}*/
			
		//}
	  //camAxesUpdated
	  //movAxesUpdated
	  //only send xml request if the respective axes have been updated
	  //can tell if been updated if the new values are dif than the stored values.
	  
	  
    }
  }

  requestAnimationFrame(updateStatus);
}

function scangamepads() {
  var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads() : []);
  for (var i = 0; i < gamepads.length; i++) {
    if (gamepads[i]) {
      if (gamepads[i].index in controllers) {
        controllers[gamepads[i].index] = gamepads[i];
      } else {
        addgamepad(gamepads[i]);
      }
    }
  }
}

window.addEventListener("gamepadconnected", connecthandler);
window.addEventListener("gamepaddisconnected", disconnecthandler);

if (!haveEvents) {
 setInterval(scangamepads, 500);
}


/*function forward()
{
	xmlhttp.open("GET","move/forward",true);
	xmlhttp.send();
}*/
function moveAxis(gamepad, xAxis, yAxis)//val_1, val_2)
{	
	/*const one = 'Hello, ';
	const two = 'how are you?';
	const joined = `${one}${two}`;
	console.log(joined); // "Hello, how are you?"
	
	const action;*/
	//console.log(gamepad);
	var action = "";
	if(gamepad == 0){
		action = "move/";
	//use strings to modify the xmlhttp.open call; 
	//if gamepad == 0, "move", else if gamepad == 1, "camera"
	//cam might be able to have each axis called separately, maybe. not sure
	}else if(gamepad == 1){
		action = "camera/";
		//return;
	}
	var cmd = "";
	
	
	
	//if(gamepad == 0){
		//return;
		//var xAxis = val_1;
		//var yAxis = val_2;
		
		if(yAxis == -1){
			if(xAxis == 1){//forward right(?)
				cmd = "for_right";
			}else if(xAxis == -1){//forward left(?)
				cmd = "for_left";
				//xmlhttp.open("GET",action+"for_left",true);
				//xmlhttp.send();
			}else{//forward
				cmd = "forward";
				//xmlhttp.open("GET",action+"forward",true);
				//xmlhttp.send();
			}
		}else if(yAxis == 1){
			if(xAxis == 1){//backward right(?)
				cmd = "back_right";
				//xmlhttp.open("GET",action+"back_right",true);
				//xmlhttp.send();
			}else if(xAxis == -1){//backward left(?)
				cmd = "back_left";
				//xmlhttp.open("GET",action+"back_left",true);
				//xmlhttp.send();
			}else{//backward
				cmd = "back";
				//xmlhttp.open("GET",action+"back",true);
				//xmlhttp.send();
			}
		}else{
			if(xAxis == 1){//turn right(?)
				cmd = "right";
				//xmlhttp.open("GET",action+"right",true);
				//xmlhttp.send();
			}else if(xAxis == -1){//turn left(?)
				cmd = "left";
				
			//	xmlhttp.open("GET",action+"left",true);
				//xmlhttp.send();
			}else{//centered
				cmd = "center";
				//xmlhttp.open("GET",action+"center",true);
				//xmlhttp.send();
			}
		}
		if(cmd != ""){
			console.log("sending cmd");
			//console.log("axisDirs: " + axesDirs[0][0] + ", " + axesDirs[0][1] + ", " + axesDirs[1][0] + ", " + axesDirs[1][1])
			var xmlhttp;
			xmlhttp=new XMLHttpRequest();
			xmlhttp.open("HEAD",action+cmd,true);
			/*if(gamepad==0 && (xAxis!= 0 || yAxis !=0)){
				xmlhttp.onreadystatechange = checkData;
				console.log("gamepad: " + gamepad + ", xAxis: " + xAxis + ", yAxis: " + yAxis);
			}else{
				xmlhttp.onreadystatechange = null;
			}*/
			xmlhttp.onerror = checkData;
			
			function checkData()
			{
				/*xmlhttp.open("HEAD",action+cmd,true);
				xmlhttp.onerror=null;*/ //for if request failed, 
				//so means robot didn't recieve data?
				//need to test on robot.
				console.log(xmlhttp.readyState);
				if(xmlhttp.readyState == 4){
					//axesDirs[gamepad][0] = xAxis;
					//axesDirs[gamepad][1] = yAxis;
				}
				
			}
			xmlhttp.timeout = 600;
			xmlhttp.ontimeout = blah;
			xmlhttp.send();
			//sample(100);
			/*for(var a = 0; a < 300; a++){
			}*/
			/*var timedOut = false;
			setTimeout(function(){
				timedOut = true;
			}, 100); 
			while(!timedOut){
				console.log("jkl;");
			}*/
		}
		
	//}
	/*else if(gamepad==1){
		var axisNum = val_1;//x is 0, y is 1?
		var direction = val_2;
		

		if(axisNum == 0){
			//console.log("axisNum: " + axisNum);
			/*xmlhttp.open("GET","xAxis/right",true);
			xmlhttp.send();
			return;* /
			if(direction>0){
				xmlhttp.open("GET","camera/right",true);
				xmlhttp.send();
			}else if(direction<0){
				xmlhttp.open("GET","camera/left",true);
				xmlhttp.send();
			}else{
				xmlhttp.open("GET","camera/centerX",true);
				xmlhttp.send();
			}
		}else{
			//console.log("axisNum: " + axisNum);
			/*xmlhttp.open("GET","yAxis/right",true);
			xmlhttp.send();
			return;* /
			if(direction<0){
				xmlhttp.open("GET","camera/up",true);
				xmlhttp.send();
			}else if(direction>0){
				xmlhttp.open("GET","camera/down",true);
				xmlhttp.send();
			}else{
				xmlhttp.open("GET","camera/centerY",true);
				xmlhttp.send();
			}
		}
		
		
	}*/
}
function delay(delayInms) {
  return new Promise(resolve => {
    setTimeout(() => {
      resolve(2);
    }, delayInms);
  });
}

async function sample(time) {
  console.log('a');
  console.log('waiting...')
  let delayres = await delay(time);
  console.log('b');
}

function blah(){
	console.log("timeout");
}
/*
function gamepadHandler(event, connecting) {
  var gamepad = event.gamepad;
  // Note:
  // gamepad === navigator.getGamepads()[gamepad.index]

  if (connecting) {
    gamepads[gamepad.index] = gamepad;
	//console.log("Gamepad connected from index %d: %s",
		//gamepad.index, gamepad.id);
	var gp = navigator.getGamepads()[gamepad.index];
	console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
		gp.index, gp.id,
		gp.buttons.length, gp.axes.length);
	//gameLoop();
  } else {
    delete gamepads[gamepad.index];
	console.log("Gamepad disconnected from index %d: %s",
    gamepad.index, gamepad.id);
  }
}
/*
	Chrome does things differently here. Instead of constantly storing the gamepad's latest state in a variable 
	it only stores a snapshot, so to do the same thing in Chrome you have to keep polling it and then only use the 
	Gamepad object in code when it is available. We have done this below using setInterval();
	once the object is available the gamepad info is outputted, the game loop is started, and the interval is cleared using clearInterval. 
	Note that in older versions of Chrome Navigator.getGamepads() is implemented with a webkit prefix. We attempt to detect and handle both 
	the prefixed version and the standard version of the function for backwards compatibility.
* /
window.addEventListener("gamepadconnected", function(e) { gamepadHandler(e, true); }, false);
window.addEventListener("gamepaddisconnected", function(e) { gamepadHandler(e, false); }, false);*/
</script>







</body>
</html>