<!DOCTYPE html>
<html>
<style>
label {
  color: white;
  padding: 4px;
}
ul {
	color:white;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}
.show {display:block;}
</style>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}"><!--"style.css">-->

<title>Robot Escape Room MQP</title>
</head>
<body>



<label1 for="Timer"> <span id = "timeLim">45:00</span></label1>
<h1>Escape with Robto</h1>
<p id="demo"></p>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <img src="video_feed" width="50%"><!--width="100%"><!--multipart/x-mixed-replace; boundary=frame-->
        </div>
    </div>
</div>


<label for="passcode">Input Code:</label>
<input type="text" id="passcode" maxlength="50" name="code">
<button id ="submitPasscode" onclick = "sendPasscode();">Submit</button><br><br>

<div id = "debug" style = "display:none;">
	<button id="button1" style="display:block;" onclick="toggleText('button1', 'Configure Gamepads', 'Cancel'); toggleElement('configuration menu'); closeDropdown(); ">Configure Gamepads</button><!-- document.getElementById('button3').style.display = 'block';this.style.display = 'none';-->


	<div id = "configuration menu" style = "display:none;">
		<label for="gamepadType">Gamepad Type</label>
		<select name="gamepadType" id="gamepadType" onchange = "configure()">
			<option value="None">None</option>
			<option value="Cont">Game Controller</option>
			<option value="Phys">Physical Interface</option>
		</select>


		<div id = "gamepad1 select">
			<label for="gamepad1">Gamepad 1</label>
			<select name="gamepad1" id="gamepad1">
				<option value="None">None</option>
				<option value="rigatoni">Rigatoni</option>
				<option value="dave">Dave</option>
				<option value="pumpernickel">Pumpernickel</option>
				<option value="reeses">Reeses</option>
			</select>
		</div>
		
		<div id = "gamepad2 select" style = "display:none;">
			<label for="gamepad2">Gamepad 2</label>
			<select name="gamepad2" id="gamepad2">
				<option value="None">None</option>
				<option value="rigatoni">Rigatoni</option>
				<option value="dave">Dave</option>
				<option value="pumpernickel">Pumpernickel</option>
				<option value="reeses">Reeses</option>
			</select>
		</div>
		<button id='update' onclick="toggleText('button1', 'Configure Gamepads', 'Cancel'); toggleElement('configuration menu'); closeDropdown(); ">Update Configuration</button>
		<button id='default'>Default</button>
	</div>

	
	<br>
	<button id= "add gamepad" onclick="addGamepadDebug()">Add Gamepad</button>
	<button id= "remove gamepad">Remove Gamepad</button>
	<button id = "test response" onclick = "getPeriphUpdates()">Check Peripherals (debug)</button>
	<label for="periphCheckToggle">Toggle Peripheral Check (debug)</label>
	<button id = "periphChecktoggle" onclick = "toggleText('periphChecktoggle', 'Turn On', 'Turn Off'); toggleAskUpdate()">Turn Off</button>
</div>

<p id = "periphStates">Periph States</p>
<p id = "debugCodePromptInfo"></p>
<br>
<p id = "messageBox"></p>
<br><br><br><br>
<button id = "debugMode" onclick="toggleDebug()">ToggleDebug</button>

<p>Hints:</p>
<script>
function toggleDebug(){
	var x = document.getElementById("debug");//.classList.toggle("show");
	if (x.style.display === "none") {
		x.style.display = "block";
	} else {
		x.style.display = "none";
	}
}


function sendPasscode(){
	var passcodeToSend = document.getElementById('passcode').value;
	console.log(passcodeToSend);
	document.getElementById('passcode').value = "";
	xmlhttp=new XMLHttpRequest();
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState === 4) {
			console.log(xmlhttp.response);
		}
	}
	var message = "passcode=" + passcodeToSend;
	//xmlhttp.open("HEAD","/data?" + message,true);
	xmlhttp.open("GET","/sendPasscode?" + message,true);
	xmlhttp.timeout = 600;
	xmlhttp.ontimeout = function () { blah("sendPasscode");}//function () { alert("Timed out!!!");} //blah2();//blah("sendPasscode");
	xmlhttp.send();
}


var updateStopped = false;

function toggleAskUpdate(){
	updateStopped = !updateStopped;
}


//requestAnimationFrame(getPeriphUpdates);

const periphEnum = {3: "UV", 4: "Flashlight", 6: "Electromagnet"};
const toggleEnum = {"-1": true, "0": false, "1": true, "2": false}; //true = toggled on, false = toggled off

//var gamepadDebug = [];
function getPeriphUpdates(){
	//console.log("testing");
	xmlhttp=new XMLHttpRequest();
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState === 4) {
			var valid = false;
			var dict;
			if(xmlhttp.response) {
				try {
					dict = JSON.parse(xmlhttp.response);
					valid = true;
				} catch(e) {
					valid = false;
				}
			}
			if(valid){
			
				var dict = JSON.parse(xmlhttp.response);
				var strin = "";
				
				var message = dict["message"];
				if (message != ""){
					document.getElementById("messageBox").innerHTML = message;
				}
				
				var prompt = dict["prompt"];
				if (prompt != ""){
					if(prompt == true){
						document.getElementById("debugCodePromptInfo").innerHTML = "Please Enter Passcode";
					}else{
						document.getElementById("debugCodePromptInfo").innerHTML = "";
					}
				}else{
					document.getElementById("debugCodePromptInfo").innerHTML = "";
				}
					
				var periphs = dict["peripherals"];
				
				
				for (var key of Object.keys(periphs)){
					var periphName = periphEnum[parseInt(key)];
					var toggleStatus = toggleEnum[periphs[key].toString()] ? "On" : "Off";
					
					
					strin = strin + periphName + " is " + toggleStatus + ". ";
				}
				
				
				document.getElementById("periphStates").innerHTML = strin;
			}
		
		}
	}
	
	xmlhttp.open("GET","/ask",true);
	xmlhttp.timeout = 600;
	xmlhttp.ontimeout =function () { blah("ask");} // blah("ask");
	xmlhttp.send();
}


//Function for counting down the room timer
function timer(duration, display) {
	var time = duration, minutes, seconds;
	setInterval(function() {
		minutes = parseInt(time/60, 10);
		seconds = parseInt(time%60, 10);

		minutes = minutes < 10 ? "0" + minutes : minutes;
		seconds = seconds < 10 ? "0" + seconds : seconds;

		display.textContent = minutes + ":" + seconds;
		//Decrement timer and keep it at 0 once it reaches that time
		if (--time < 0) {
			time = 0;
		}
	}, 1000);
}
//Starts timer upon loading the webpage
window.onload = function () {
	//How many minutes the room has
	var timeLimit = 45;
	var roomTime = 60 * timeLimit;
	//Looks for timer element to display
	display = document.querySelector('#timeLim');
	timer(roomTime, display); 
}

function addGamepadDebug(){
  closeDropdown();
  var drops = [document.getElementById("Gamepad1Dropdown"), document.getElementById("Gamepad2Dropdown")];
  var num = 0;
  while(num < 2){
	var drop = drops[num];
	var gamepadBut = document.createElement("button");
	gamepadBut.setAttribute("id", "gamepad");
	gamepadBut.innerText = "Gamepad Description";
	drop.appendChild(gamepadBut);
	num = num+1;
  }
}

function removeGamepadDebug(num){
	//random num?
}

function configure(){


	
	var type = document.getElementById('gamepadType').value;
	//document.getElementById('GamepadType').value = "";
	//closeDropdown();
	if(type === 'Cont'){//gamepadtype === 'controller'){
		//type.innerText = 'Using: Game Controller';
		document.getElementById("gamepad1 select").style.display = "block";
		document.getElementById("gamepad2 select").style.display = "none";
		document.getElementById("gamepad2").value = "None";
	}else if(type === 'Phys'){//gamepadtype === 'interface'){
		type.innerText = 'Using: Physical Interface';
		document.getElementById("gamepad1 select").style.display = "block";
		document.getElementById("gamepad2 select").style.display = "block";
		
	}
	
}

function toggleText(id, text1, text2){
	var but = document.getElementById(id);
	
	if (but.innerText === text1){//"Configure Gamepads") {
		but.innerText = text2;//"Cancel";
    }else if (but.innerText == text2){
		but.innerText = text1;//"Configure Gamepads";
	}
}

function dropdownToggle(dropdownID) {
  document.getElementById(dropdownID).classList.toggle("show");
}


function toggleElement(elementId){
	var x = document.getElementById(elementId)
	if (x.style.display === "none") {
		x.style.display = "block";
    }else {
		x.style.display = "none";
	}
}



function closeDropdown(){
	var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
}
//document.getElementById("demo").innerHTML = "Hello JavaScript!";

//var gamepads = {};
var haveEvents = 'ongamepadconnected' in window;
var controllers = {};
var countPrint = 0;
var valsUpdatedGlob = false;
var updateLoopCount = 0;
var updateLoopMax = 2;//1;//5;

var axesDirs = [[0,0],[0,0]];
//var camAxisDirs = [0,0];
var buttonVals = [0,0,0,0,0,0,0,0,0];//9 buttons
function connecthandler(e) {
  addgamepad(e.gamepad);
}

function addgamepad(gamepad) {
  controllers[gamepad.index] = gamepad; // adds GamePad gamepad to controllers array, in index of gamepad's index


  
  
  
  var d = document.createElement("div");
  d.setAttribute("id", "controller" + gamepad.index);

  var t = document.createElement("h1");
  t.appendChild(document.createTextNode("gamepad: " + gamepad.id));
  d.appendChild(t);

  var b = document.createElement("div");
  b.className = "buttons";
  for (var i = 0; i < gamepad.buttons.length; i++) {
    var e = document.createElement("span");
    e.className = "button";
    //e.id = "b" + i;
    e.innerHTML = i;
    b.appendChild(e);
  }

  d.appendChild(b);

  var a = document.createElement("div");
  a.className = "axes";

  for (var i = 0; i < gamepad.axes.length; i++) {
    var p = document.createElement("progress");
    p.className = "axis";
    //p.id = "a" + i;
    p.setAttribute("max", "2");
    p.setAttribute("value", "1");
    p.innerHTML = i;
    a.appendChild(p);
  }

  d.appendChild(a);

  // See https://github.com/luser/gamepadtest/blob/master/index.html
  var start = document.getElementById("start");
  if (start) {
    start.style.display = "none";
  }

  document.body.appendChild(d);
  //requestAnimationFrame(updateStatus);
}


requestAnimationFrame(updateStatus);

function disconnecthandler(e) {
	
  removegamepad(e.gamepad);
}

function removegamepad(gamepad) {
	axesDirs = [[0,0],[0,0]];
	buttonVals = [0,0,0,0,0,0,0,0,0];
	sendVals();
  var d = document.getElementById("controller" + gamepad.index);
  document.body.removeChild(d);
  delete controllers[gamepad.index];
}





var updateCount = 0;
var updateMax = 40;

function updateStatus() {
  if(!updateStopped){
	updateCount++;
  }
  if(updateCount>updateMax){
	updateCount = 0;
	getPeriphUpdates();
  }

  if (!haveEvents) {
    scangamepads();
  }
  
  var i = 0;
  var j;
	var valsUpdated = false;
	var usingGameController = false;
	var buttonNum = 0;
	//var buttonsUpdated = false;
	var controllerCount = 0;
  for (j in controllers) {
	if(usingGameController && controllerCount>0){
		break;
	}else if(controllerCount>1){
		break;
	}
	
    var controller = controllers[j];
	
	if(controller.axes.length==4 && controllerCount<1){
		usingGameController = true;
		controllerCount = 1;//2;//??
	}else if(controller.buttons.length==12 && !usingGameController){
		controllerCount+=1;
	}else{
		break;
	}
	//just checks for 4 axis to see if its a game controller
	
	
    var d = document.getElementById("controller" + j);
    var buttons = d.getElementsByClassName("button");


	//buttons
	
	
	
	/*xbox button layout: (expand to see)
	//a = 0
	//b = 1
	//x = 2
	//y = 3
	//left bumper = 6
	//right bumper = 5
	//left trigger = 6
	//right trigger = 7
	//select = 8
	//start = 9
	//click left stick = 10
	//click right stick = 11
	//dpad up = 12
	//dpad down = 13
	//dpad left = 14
	//dpad right = 15
	//home = 16
	*/
	
	for (i = 0; i < controller.buttons.length; i++) {
		if(!usingGameController && ((i > 2 && controllerCount == 1) || (i >5 && controllerCount == 2))){
			//left joystick: movement, 3 buttons.
			//right joystick: camera, 6 buttons.
			break;
		}else if(usingGameController && i>8){
			break;
		}
		
      var b = buttons[i];
      var val = controller.buttons[i];
      var pressed = val == 1.0;
      if (typeof(val) == "object") {
        pressed = val.pressed;
        val = val.value;
      }

      var pct = Math.round(val * 100) + "%";
      b.style.backgroundSize = pct + " " + pct;
		var tempButtonVal = 0;
      if (pressed) {
		tempButtonVal = 1;
        b.className = "button pressed";
      } else {
		tempButtonVal = 0;
        b.className = "button";
      }
	  if(buttonVals[buttonNum] != tempButtonVal){
		valsUpdated = true;
		valsUpdatedGlob = true;
	  }
	  buttonVals[buttonNum] = tempButtonVal;
	  buttonNum+=1;
    }
	
	//axes
	
	var axis0 = 0;
    var axes = d.getElementsByClassName("axis");
	//console.log(controller.axes.length);
	//break;
    for (i = 0; (i+1) < controller.axes.length; i+=2) {
		if(i>2){
			break;
		}
		if(!usingGameController && i>1){
			break;
		}
		
		
		
		var a1 = axes[i];
		a1.innerHTML = i + ": " + controller.axes[i].toFixed(4);
		a1.setAttribute("value", controller.axes[i] + 1);
		var a2 = axes[i+1];
		const i_plus = i+1;
		a2.innerHTML = i_plus + ": " + controller.axes[i+1].toFixed(4);
		a2.setAttribute("value", controller.axes[i+1] + 1);
		
		var axesSetNum = controllerCount-1; //0 is movement, 1 is camera
		if(usingGameController && i>1){
			axesSetNum = 1;
		}
		
		var prevVals = axesDirs[axesSetNum];
		var count;
		for(count = 0; count < 2; count++){
			var tempVal;
			if(controller.axes[count+i]>0.5){
				//axesVals[count] = 1;
				tempVal = 1;
			}else if(controller.axes[count+i]<-0.5){
				//axesVals[count] = -1;
				tempVal = -1;
				//console.log("axis negative! AxesSetNum: " + axesSetNum + ", count: " + count + ", tempNum: " + tempVal);
			}
			else{
				
				//axesVals[count] = 0;
				tempVal = 0;
				
			}
			if(/*axesVals[count]*/tempVal != prevVals[count]){
				//axesUpdated = true;
				valsUpdated = true;
				valsUpdatedGlob = true;
				axesDirs[axesSetNum][count] = tempVal;
			}
		}
		
	  
	  
    }
  }
	
	
	if(valsUpdated){
		sendVals();
		
	}
  requestAnimationFrame(updateStatus);
  /*ANIMATIONFRAME, TODO
  https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
  
  Warning: Be sure to always use the first argument 
	(or some other method for getting the current time) 
	to calculate how much the animation will progress in a frame, 
	otherwise the animation will run faster on high refresh rate screens. 
  Check the example below for a way to do this.
  */
  /*
  function step(timestamp) {
	  if (start === undefined) {
		start = timestamp;
		}
	  const elapsed = timestamp - start;

	  if (previousTimeStamp !== timestamp) {
		// Math.min() is used here to make sure the element stops at exactly 200px
		const count = Math.min(0.1 * elapsed, 200);
		element.style.transform = 'translateX(' + count + 'px)';
	  }

	  if (elapsed < 2000) { // Stop the animation after 2 seconds
		previousTimeStamp = timestamp
		window.requestAnimationFrame(step);
	  }
	}
  */
}

function scangamepads() {
  var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads() : []);
  for (var i = 0; i < gamepads.length; i++) {
    if (gamepads[i]) {
      if (gamepads[i].index in controllers) {
        controllers[gamepads[i].index] = gamepads[i];
      } else {
        addgamepad(gamepads[i]);
      }
    }
  }
}

window.addEventListener("gamepadconnected", connecthandler);
window.addEventListener("gamepaddisconnected", disconnecthandler);

if (!haveEvents) {
 setInterval(scangamepads, 500);
}



function sendVals(){
	
/*
class CarDirection(Enum):
    NONE = 0
    FORWARD = 1
    FOR_RIGHT = 2
    TURN_RIGHT = 3
    BACK_RIGHT = 4
    BACK = 5
    BACK_LEFT = 6
    TURN_LEFT = 7
    FOR_LEFT = 8
*/

	//Y is inverted?
	var carDir = 0;
	switch(axesDirs[0][1]){
		case -1://forward Y
			switch(axesDirs[0][0]){
				case 1: //forward right(?)
					carDir = 2;
					break;
				case -1: //forward left(?)
					carDir = 8;
					break;
				case 0: //forward
					carDir = 1;
					break;
				default:
					console.log("wrong axis value!");
			}
			break;
		case 1://backward Y
			switch(axesDirs[0][0]){
				case 1: //backward right(?)
					carDir = 4;
					break;
				case -1: //backward left(?)
					carDir = 6;
					break;
				case 0: //backward
					carDir = 5;
					break;
				default:
					console.log("wrong axis value!");
			}
			break;
		case 0://neutral Y
			switch(axesDirs[0][0]){
				case 1: //turn right(?)
					carDir = 3;
					break;
				case -1: //turn left(?)
					carDir = 7;
					break;
				case 0: //centered
					carDir = 0;
					break;
				default:
					console.log("wrong axis value!");
			}
			break;
		default:
			console.log("wrong axis value!");
	}		
	
/*
class CamDirection(Enum):
    NONE = 0
    RIGHT = 1
    LEFT = 2
    UP = 3
    DOWN = 4
*/
	var camDir = [0,0];
	switch(axesDirs[1][0]){
		case 1: //right
			camDir[0] = 1;
			break;
		case -1://left
			camDir[0] = 2;
			break;
		case 0://none
			camDir[0] = 0;
			break;
		default:
			console.log("wrong axis value!");
	}
	
	switch(axesDirs[1][1]){
		case -1: //up
			camDir[1] = 3;
			break;
		case 1://down
			camDir[1] = 4;
			break;
		case 0://none
			camDir[1] = 0;
			break;
		default:
			console.log("wrong axis value!");
	}	
	//console.log("sending vals: " + buttonVals.join('') + '/' + axesDirs[0].join(' ') + "(carDir: " + carDir + ")" + '/' + axesDirs[1].join(' ') + " camDir: " + camDir.join('')); //creates a string out of array
	var message = "buttons=" + buttonVals.join('') + "&car=" + carDir + "&cam=" + camDir.join('');
	console.log("sending vals: " + message);//.join('') + '/' + carDir + '/' + camDir.join('')); //creates a string out of array
	
	//first 9 values: button vals, in order
	//then a /
	//then car direction enum
	//then a /
	//then x and y cam direction enums, no spaces between.
	var xmlhttp;
	xmlhttp=new XMLHttpRequest();
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState === 4) {
		  //callback(xmlhttp.response);
		  //console.log(xmlhttp.response);
		}
	}
	
	xmlhttp.open("HEAD","/data?" + message,true);
	xmlhttp.onerror = checkData;
	
	
	
	function checkData()
	{
		/*xmlhttp.open("HEAD",action+cmd,true);
		xmlhttp.onerror=null;*/ //for if request failed, 
		//so means robot didn't recieve data?
		//need to test on robot.
		console.log(xmlhttp.readyState);
		if(xmlhttp.readyState == 4){
			//axesDirs[gamepad][0] = xAxis;
			//axesDirs[gamepad][1] = yAxis;
		}
		
	}
	xmlhttp.timeout = 600;
	xmlhttp.ontimeout = function () { blah("sendVals");}
	xmlhttp.send();



	//moveAxis(0,0,0);
}

function moveAxis(gamepad, xAxis, yAxis)//val_1, val_2)
{	
	//return;
	/*const one = 'Hello, ';
	const two = 'how are you?';
	const joined = `${one}${two}`;
	console.log(joined); // "Hello, how are you?"
	
	const action;*/
	//console.log(gamepad);
	var action = "";
	if(gamepad == 0){
		action = "move/";
	//use strings to modify the xmlhttp.open call; 
	//if gamepad == 0, "move", else if gamepad == 1, "camera"
	//cam might be able to have each axis called separately, maybe. not sure
	}else if(gamepad == 1){
		action = "camera/";
		//return;
	}
	var cmd = "";
	
	
	
	//if(gamepad == 0){
		//return;
		//var xAxis = val_1;
		//var yAxis = val_2;
		
		if(yAxis == -1){
			if(xAxis == 1){//forward right(?)
				cmd = "for_right";
			}else if(xAxis == -1){//forward left(?)
				cmd = "for_left";
				//xmlhttp.open("GET",action+"for_left",true);
				//xmlhttp.send();
			}else{//forward
				cmd = "forward";
				//xmlhttp.open("GET",action+"forward",true);
				//xmlhttp.send();
			}
		}else if(yAxis == 1){
			if(xAxis == 1){//backward right(?)
				cmd = "back_right";
				//xmlhttp.open("GET",action+"back_right",true);
				//xmlhttp.send();
			}else if(xAxis == -1){//backward left(?)
				cmd = "back_left";
				//xmlhttp.open("GET",action+"back_left",true);
				//xmlhttp.send();
			}else{//backward
				cmd = "back";
				//xmlhttp.open("GET",action+"back",true);
				//xmlhttp.send();
			}
		}else{
			if(xAxis == 1){//turn right(?)
				cmd = "right";
				//xmlhttp.open("GET",action+"right",true);
				//xmlhttp.send();
			}else if(xAxis == -1){//turn left(?)
				cmd = "left";
				
			//	xmlhttp.open("GET",action+"left",true);
				//xmlhttp.send();
			}else{//centered
				cmd = "center";
				//xmlhttp.open("GET",action+"center",true);
				//xmlhttp.send();
			}
		}
		if(cmd != ""){
			//console.log("sending cmd");
			//console.log("axisDirs: " + axesDirs[0][0] + ", " + axesDirs[0][1] + ", " + axesDirs[1][0] + ", " + axesDirs[1][1])
			var xmlhttp;
			xmlhttp=new XMLHttpRequest();
			xmlhttp.open("HEAD",action+cmd,true);
			/*if(gamepad==0 && (xAxis!= 0 || yAxis !=0)){
				xmlhttp.onreadystatechange = checkData;
				console.log("gamepad: " + gamepad + ", xAxis: " + xAxis + ", yAxis: " + yAxis);
			}else{
				xmlhttp.onreadystatechange = null;
			}*/
			xmlhttp.onerror = checkData;
			
			function checkData()
			{
				/*xmlhttp.open("HEAD",action+cmd,true);
				xmlhttp.onerror=null;*/ //for if request failed, 
				//so means robot didn't recieve data?
				//need to test on robot.
				console.log(xmlhttp.readyState);
				if(xmlhttp.readyState == 4){
					//axesDirs[gamepad][0] = xAxis;
					//axesDirs[gamepad][1] = yAxis;
				}
				
			}
			xmlhttp.timeout = 600;
			xmlhttp.ontimeout = function () { blah("moveAxis");}
			xmlhttp.send();
			
		}
		
	
}
function delay(delayInms) {
  return new Promise(resolve => {
    setTimeout(() => {
      resolve(2);
    }, delayInms);
  });
}

async function sample(time) {
  console.log('a');
  console.log('waiting...')
  let delayres = await delay(time);
  console.log('b');
}

function blah(func){
	console.log("timeout, in " + func);
}

/*
function gamepadHandler(event, connecting) {
  var gamepad = event.gamepad;
  // Note:
  // gamepad === navigator.getGamepads()[gamepad.index]

  if (connecting) {
    gamepads[gamepad.index] = gamepad;
	//console.log("Gamepad connected from index %d: %s",
		//gamepad.index, gamepad.id);
	var gp = navigator.getGamepads()[gamepad.index];
	console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
		gp.index, gp.id,
		gp.buttons.length, gp.axes.length);
	//gameLoop();
  } else {
    delete gamepads[gamepad.index];
	console.log("Gamepad disconnected from index %d: %s",
    gamepad.index, gamepad.id);
  }
}
/*
	Chrome does things differently here. Instead of constantly storing the gamepad's latest state in a variable 
	it only stores a snapshot, so to do the same thing in Chrome you have to keep polling it and then only use the 
	Gamepad object in code when it is available. We have done this below using setInterval();
	once the object is available the gamepad info is outputted, the game loop is started, and the interval is cleared using clearInterval. 
	Note that in older versions of Chrome Navigator.getGamepads() is implemented with a webkit prefix. We attempt to detect and handle both 
	the prefixed version and the standard version of the function for backwards compatibility.
* /
window.addEventListener("gamepadconnected", function(e) { gamepadHandler(e, true); }, false);
window.addEventListener("gamepaddisconnected", function(e) { gamepadHandler(e, false); }, false);*/
</script>

<style>
.axes {
  padding: 1em;
}

.buttons {
  margin-left: 1em;
}

/*meter*/.axis {
  min-width: 200px;
  margin: 1em;
}

.button {
  display: inline-block;
  width: 1em;
  text-align: center;
  padding: 1em;
  border-radius: 20px;
  border: 1px solid black;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==);
  background-size: 0% 0%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.pressed {
  border: 1px solid red;
}

.touched::after {
  content: "touch";
  display: block;
  position: absolute;
  margin-top: -0.2em;
  margin-left: -0.5em;
  font-size: 0.8em;
  opacity: 0.7;
}
</style>





</body>
</html>
